<div class="jspPane">
    <div class="inner">
        <h2>PORTAFOLIO</h2>
        <div class="title-divider"></div>
        <h3>PROYECTOS REALIZADOS</h3>
        <p style="text-align: justify;">Algunos de los proyectos en los que he podido participar a nivel laboral y personal.</p>
        <div class="full-divider"></div>
        <div class="row">
            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2">
                        <a type="button" href="https://jorgeamontoya.github.io/preguntasRespuestas/" target="_blank">
                            <i class="fa fa-dropbox logo_work"></i>
                        </a>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>Juego de preguntas</h5>
                        <span>SofkaU</span>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                Aplicación de inventariado para la empresa C-DEG, manejo de roles e información de productos por medio de tablas relacionales en POSTGRESQL, un backend basado en NODE.js y un front en Angular8.
                <br>
                <a href="https://jorgeamontoya.github.io/preguntasRespuestas/">https://jorgeamontoya.github.io/preguntasRespuestas/</a>
            </div>
            

            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2">
                        <a type="button" href="https://jorgeamontoya.github.io/ListaTareasConLocalStorage/" target="_blank">
                            <i class="fa fa-map logo_work"></i>
                        </a>
                    </div>

                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>lista de tareas usando localStorage</h5>
                        <span>Personal</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                Aplicación de generación de rutas en Google Maps para múltiples puntos, con un backend basado en DJANGO-REST-FRAMEWORK y un front en Angular8.
                <br>
                <a href="https://jorgeamontoya.github.io/ListaTareasConLocalStorage/">https://jorgeamontoya.github.io/ListaTareasConLocalStorage/</a>
            </div>
         

            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2">
                        <a type="button" href="https://jorgeamontoya.github.io/rickyyMorthy/" target="_blank">
                            <i class="fa fa-html5 logo_work"></i>
                        </a>
                    </div>

                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>Página web</h5>
                        <span>consumo de api Rick and mortyi</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                Aplicación de web de presentación de la empresa, con un backend basado en NODE.JS y un front en Angular8.
                <br>
                <a href="https://jorgeamontoya.github.io/rickyyMorthy/">https://jorgeamontoya.github.io/rickyyMorthy/</a>
            </div>
            <div class="full-divider"></div>
            <br>
            <div class="card">
                
                <a href="https://jorgeamontoya.github.io/preguntasRespuestas/" target="_blank" class="card2"  >
                  <h5 class="card-title">Juego de preguntas</h5>
                  <h6>aplicacion que consiste en un juego de preguntas y respuestas </h6> 
                  <br>
                    <a href="https://jorgeamontoya.github.io/preguntasRespuestas/">https://jorgeamontoya.github.io/preguntasRespuestas/</a>
                   
                </a>
        
                <a href="https://jorgeamontoya.github.io/ListaTareasConLocalStorage/" target="_blank" class="card2"  >
                  <h5 class="card-title">lista de tareas usando localStorage</h5>
                </a>
                <a href="https://jorgeamontoya.github.io/rickyyMorthy/" target="_blank" class="card2"  >
                  <h5 class="card-title">consumo de api Rick and mortyi</h5>
                </a>
                <a href="https://jorgeamontoya.github.io/rickyyMorthy/" target="_blank" class="card2"  >
                    <h5 class="card-title">consumo de api Rick and mortyi</h5>
                  </a>
              </div>
        
        </div>
     
    </div>
    
</div>