<div class="jspPane">
    <div class="inner">
        <h2>PORTAFOLIO</h2>
        <div class="title-divider"></div>
        <h3>PROYECTOS REALIZADOS</h3>
        <p style="text-align: justify;">Algunos de los proyectos en los que he podido participar a nivel laboral y personal.</p>
        <div class="full-divider"></div>
        <div class="row">
            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2">
                        <a type="button" href="https://jorgeamontoya.github.io/preguntasRespuestas/" target="_blank">
                            <i class="fa fa-dropbox logo_work"></i>
                        </a>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>Juego de preguntas</h5>
                        <span>SofkaU</span>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                Aplicación de juego de preguntas y respuestas por medio de JS y HTML
                <br>
                <a href="https://jorgeamontoya.github.io/preguntasRespuestas/">https://jorgeamontoya.github.io/preguntasRespuestas/</a>
            </div>
            

            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2">
                        <a type="button" href="https://jorgeamontoya.github.io/ListaTareasConLocalStorage/" target="_blank">
                            <i class="fa fa-map logo_work"></i>
                        </a>
                    </div>

                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>lista de tareas usando localStorage</h5>
                        <span>Personal</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                Aplicación de organizador de tareas usando localStorage, JS y HTML
                <br>
                <a href="https://jorgeamontoya.github.io/ListaTareasConLocalStorage/">https://jorgeamontoya.github.io/ListaTareasConLocalStorage/</a>
            </div>
         

            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2">
                        <a type="button" href="https://jorgeamontoya.github.io/rickyyMorthy/" target="_blank">
                            <i class="fa fa-html5 logo_work"></i>
                        </a>
                    </div>

                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>Página web</h5>
                        <span>consumo de api Rick and mortyi</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                Aplicación que consiste en el consumo de información de la api de RIck and Morty, usando JSy HTML
                <br>
                <a href="https://jorgeamontoya.github.io/rickyyMorthy/">https://jorgeamontoya.github.io/rickyyMorthy/</a>
            </div>

            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2">
                        <a type="button" href="https://portafolio-5bd11.web.app/#/Skills" target="_blank">
                            <i class="fa fa-dropbox logo_work"></i>
                        </a>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>Portafolio</h5>
                        <span>Proyecto Personal</span>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                Portafolio: Aplicación donde doy a conocer acerca de mi perfil, habilidades, experiencia, educacion y proyectos a lo largo de mi vida laboral.
                el portafolio se realizo Usando Angular
                <br>
                <a href="https://portafolio-5bd11.web.app/#/Skills">https://portafolio-5bd11.web.app/#/Skills</a>
            </div>
            

            <div class="full-divider"></div>
            <br>
            
        </div>
     
    </div>
    
</div>