<div class="img-fluid">
<div class="row">
    <div class="col-lg-6 col-sm-6 col-12 order2">
        <div class="jumbotron jumbotron-fluid target">
            <div class="container">
                <h1 class="display-5">¿QUIEN SOY?</h1>
                <div class="title-divider"></div>
                <p style="text-align: justify;" class="lead">Licenciado en matemáticas con buen dominio epistemológico en el área de las
                    matemáticas, con habilidades y experiencia en desarrollo de software y automatización de pruebas. Soy una persona organizada,
                    con atención al detalle, autodidacta, interesado por mi actualización profesional y mejora continua, excelente disposición
                    para trabajar en equipo, capaz de adaptarme a cualquier circunstancia, con capacidad de trabajar bajo presión y dar siempre
                    lo mejor de mí en cualquier situación.
                     </p>
                     <br>

                     <div class="full-divider"></div>
                     <br>

                <div class="about-con">
                    <ul>
                        <li>Nombre: Jorge Anderson Montoya Orjuela</li>
                        <li>Correo: <a href="jamontoyao@uqvirtual.edu.co">jamontoyao@uqvirual.edu.co</a></li>
                        <li>Teléfono: (+57) -3113229014</li>
                        <li>Fecha de nacimiento: 03 Febrero 1996</li>
                        <li>Lugar de vivienda: Armenia Quindio, Colombia.</li>
                        <li>Nacionalidad: Colombiano</li>
                    </ul>
                </div>
                <div class="full-divider"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6 col-12 text-center order1">
        <img src="./assets/img/FotoJorgeMon.png" class="foto_jd" alt="">
    </div>

</div>
</div>
