
       <footer class="footer"  >
       <div   style="background-color: #8bc34a; ">
                <div  class="container">
                    <div class=" py-2 text-center">
                        <div class="container py-2 ">
                            <p class="text-white my-2">
                                Jorge Anderson Montoya Orjuela
                                &nbsp;
                                <a  type="button" class="btn btn-outline-primary"  href="https://www.linkedin.com/in/jorge-anderson-montoya-orjuela-ba0657218" target="_blank" ><img src="../../assets/linkedin.png" alt="20" width="20"></a>
                                &nbsp;
                                <a  type="button" class="btn btn-outline-primary"  href="https://github.com/jorgeAmontoya" target="_blank" ><img src="../../assets/gitclipart-computer-icons-github-social-media-github-mammal-cat-like-mammal.png" alt="40" width="40"></a>
                    
                            </p>
                         
                    
                        </div>
                    </div>  
                </div>
            </div>
        </footer>
            
      
   