<div class="jspPane">
    <div class="inner">
        <h2>EDUCACIÓN</h2>
        <div class="title-divider"></div>
        <h3 >Formación académica</h3>
        <p class="fondo" style="text-align: justify;">Poseo un pregrado en licenciatura en matemáticas, Soy una persona con bastante vocación por su profesión, razón por la cual constantemente me encuentro buscando nuevos aprendizajes y retos profesionales.</p>
        <br>

        <div class="full-divider"></div>
        <div class="row">

            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2">
                        <a type="button" href="" target="_blank">
                            <i class="fa fa-university logo_work"></i>
                        </a>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>UNIVERSIDAD del Quindío</h5>
                        <span>2016 - 2022</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                <h4 style="text-align: center;">Licenciado en matemáticas</h4>
            </div>
            <!--educación ***-->

            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2">
                        <a type="button" href="https://drive.google.com/file/d/1kvFzvPz1FKUAJ3iOnTivsGeBFKqOrSJ-/view?usp=sharing" target="_blank">
                            <i class="fa fa-university logo_work"></i>
                        </a>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>Sofka U </h5>
                        <span>28/06/22 - 28/10/22</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                <h4 style="text-align: center;">Training desarrollo de software</h4>
            </div>
            <!--educación ***-->

            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2">
                        <a type="button" href="https://drive.google.com/file/d/1kvFzvPz1FKUAJ3iOnTivsGeBFKqOrSJ-/view?usp=sharing" target="_blank">
                            <i class="fa fa-university logo_work"></i>
                        </a>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>Sofka U</h5>
                        <span>01/11/2022 - 15/01/2023</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                <h4 style="text-align: center;">Training automatización de pruebas</h4>
            </div>
            <!--educación ***-->
            <div class="full-divider"></div>

        </div>
    </div>
</div>