
h1, p, li{
    color: white;
}
.about-co{
    background-color: rgb(11, 22, 184);
    opacity: 0.7;

}
.full-divider {
    width: 100%;
    height: 1px;
    background-color: #2d1fee;
    margin: 5px 0 0 0;
    clear: both;
}
.title-divider {
    width: 70px;
    height: 5px;
    background-color: #1407ce;
    margin: 30px 0 50px 0;
}

a{
    background-color: white;
    opacity: 1;
}
.target{
    background-color: transparent;
}


.foto_jd{
    width: 264px; 
    height: 574px;
}
@media (max-width: 768px){
    .target{
        margin-top: 0px
    }
    .order1{
        order: 1;
    }
    .order2{
        order: 2;
    }
    .foto_jd{
        width: 132px; 
        height: 287px;
    }
}

@media (min-width: 768px){
    .target{
        margin-top: 20px
    }
}

