<div class="row">
    <div class="col-12">
        <div class="jumbotron jumbotron-fluid target">
            <div class="container">
              <h1 class="display-5">Conocimientos</h1>  
              <div class="title-divider"></div>            
              <div class="row">
                <div class="col">
                    <img src="./assets/img/angular.png" width="100" height="100" alt="">
                </div>
                <div class="col">
                    <img src="./assets/img/Java_programming_language_logo.svg.png" width="100" height="100" alt="">
                </div>
                <div class="col">
                    <img src="./assets/img/MongoDB_Logo.svg.png" width="100" height="100" alt="">
                </div>
                <div class="col">
                    <img src="./assets/img/mysql.png" width="100" height="100" alt="">
                </div>
                <div class="col">
                    <img src="./assets/img/spring-boot.png" width="100" height="100" alt="">
                </div>
                <div class="col">
                    <img src="./assets/img/Postman-logo-orange-2021_1155x.png" width="100" height="100" alt="">
                </div>
                <div class="col">
                    <img src="./assets/img/Octocat.png" width="100" height="100" alt="">
                </div>
                
                <div class="col">
                    <img src="./assets/img/windows.png" width="100" height="100" alt="">
                </div>
                <div class="col">
                    <img src="./assets/img/scrum.png" width="100" height="100" alt="">
                </div>
                <div class="col">
                  <img src="./assets/img/cucumber-logo.png" width="100" height="100" alt="">
                </div>
                  <div class="col">
                    <img src="./assets/img/selenium2.png" width="100" height="100" alt="">
                </div>
                  <div class="col">
                    <img src="./assets/img/serenity.png" width="150" height="100" alt="">
                </div>
                
              </div>
                <!--                                                                                                                                                
                -->
               
                <div class="full-divider"></div>
                <div class="row mt-5 row1" >
                    <p>A lo largo de mi trayectoría profesional he tenido la oportunidad de acercarme a diferentes tecnologías y herrramientas, siendo estas principalmente enfocadas al mundo del software y la automatización de procesos mediante este.</p>
                    <div class="col-4">
                      <ul class="textSize">
                        <li>Angular</li>
                        <li>Java</li>
                        <li>MongoDB</li>
                        <li>MySQL</li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <ul class="textSize">
                        <li>spring boot</li>
                        <li>postman</li>
                        <li>Git hub</li>
                        <li>S.O Windows</li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <ul class="textSize">                        
                        <li>Metodología SCRUM</li>
                        <li>Cucumber</li>
                        <li>Selenium</li>
                        <li>Serenity</li>
                      </ul>
                    </div>
                </div>

                <div class="full-divider"></div>
            </div>
        </div>
    </div>

</div>

