<div class="jspPane">
    <div class="inner">
        <h2>Experiencia</h2>
        <div class="title-divider"></div>
        <h3>3 meses de experiencia!</h3>
        <p style="text-align: justify;">:</p>
        <div class="full-divider"></div>
        <div class="row">

            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2 text-right">
                        <a type="button" href="" target="_blank">
                            <i class="fa fa-briefcase logo_work"></i>
                        </a>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>Sofka U</h5>
                        <h4>Training QA</h4>
                        <span>2022 - ACTUALIDAD</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                
                Diseño del desarrollo de software desde el Back End con Java usando Spring boot, Diseño de desarrollo de software desde el Front End usando Angular,
                Manejo de datos Json, Git para respaldo y control de versiones del software desarrollado, Gestión de base de datos relacionales como SQL server y no relacionales 
                como MongoDB, Desarrollo de software con paradigmas de programación orientada a  objetos, Marco de trabajo Scrum y Pruebas unitarias AAA. 

            </div>
            <!--trabajo ***-->

            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2 text-right">
                        <a type="button" href="" target="_blank">
                            <i class="fa fa-briefcase logo_work"></i>
                        </a>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>Sofka U</h5>
                        <h4>training desarrollo de software</h4>
                        <span>28/06/22 - 28/10/22</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                Diseño del desarrollo de software desde el Back End con Java usando Spring boot, Diseño de desarrollo de software desde el Front End usando Angular,
                Manejo de datos Json, Git para respaldo y control de versiones del software desarrollado, Gestión de base de datos relacionales como SQL server y no relacionales 
                como MongoDB, Desarrollo de software con paradigmas de programación orientada a  objetos, Marco de trabajo Scrum y Pruebas unitarias AAA. 

            </div>
        
            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2 text-right">
                        <a type="button" href="" target="_blank">
                            <i class="fa fa-briefcase logo_work"></i>
                        </a>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>UNIVERSIDAD DEL QUINDÍO</h5>
                        <h4>Docente de matemáticas</h4>
                        <span>2020 - 2020</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                Generar y fortalecer el pensamiento lógico matemático en los
                estudiantes dediferentes instituciones educativas de la ciudad de 
                Armenia y Calarcá, en el club de matemáticas de la universidad Del 
                Quindío            
            </div>
            <!--trabajo ***-->
            <div class="full-divider"></div>

        </div>
    </div>
</div>