<div class="jspPane">
    <div class="inner">
        <h2>Experiencia</h2>
        <div class="title-divider"></div>
        <h3>13 meses de experiencia en el sector TI</h3>
        <p style="text-align: justify;"></p>
        <div class="full-divider"></div>
        <div class="row">
            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2 text-right">
                        <a type="button" href="https://drive.google.com/file/d/1BbGaeZiEVCCZUfb1x1oiEBuS-b_UyyPX/view?usp=sharing" target="_blank">
                            <i class="fa fa-briefcase logo_work"></i>
                        </a>
                    </div>
                    
                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>Sofka Technologies</h5>
                        <h4>Analista de automatización de pruebas</h4>
                        <span> 18/01/2023 - Actualidad</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                
            Cliente<h5>Éxito:</h5> Diseño y ejecución de casos de prueba manuale, usando lenguaje Gherkin, manejo
            de bases de datos relacionales como MYSQL y no relacionales como MongoDB y sestema de mensajeri RABBIT
            <br>
            Cliente<h5>Protección:</h5> Realización de pruebas automatizadas y manuales, incluyendo pruebas de integración, funcionales.
            Además estimación, planificación y diseño de casos de prueba; mantenimiento de robots de pruebas automatizadas.
            </div>
            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2 text-right">
                        <a type="button" href="https://drive.google.com/file/d/1kvFzvPz1FKUAJ3iOnTivsGeBFKqOrSJ-/view" target="_blank">
                            <i class="fa fa-briefcase logo_work"></i>
                        </a>
                    </div>
                    
                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>Sofka U</h5>
                        <h4>Training automatización de pruebas QA</h4>
                        <span>01/11/2022 - 15/01/2023</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                
               Probar aplicaciones empresariales, utilizando pruebas funcionales manuales y la 
               automatización de pruebas como un aliado en la generación de valor en la construcción 
               del software. donde se adquirio experiencia en cuanto a:
               estimación, planificación, diseño y ejecución de pruebas, definición de casos de pruebas para aplicaciones Web y servicios web, Análisis de riesgos y
                Generación de reportes y métricas. Por otra parte en la automatización se usaron frameworks como POM, serenity y Selenium
               ; Además usando lenguaje Gerkihin para escribir las pruebas automatizadas.

            </div>
            <!--trabajo ***-->

            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2 text-right">
                        <a type="button" href="https://drive.google.com/file/d/1kvFzvPz1FKUAJ3iOnTivsGeBFKqOrSJ-/view" target="_blank">
                            <i class="fa fa-briefcase logo_work"></i>
                        </a>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>Sofka U</h5>
                        <h4>training desarrollo de software</h4>
                        <span>28/06/22 - 28/10/22</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                Diseño del desarrollo de software desde el Back End con Java usando Spring boot, Diseño de desarrollo de software desde el Front End usando Angular,
                Manejo de datos Json, Git para respaldo y control de versiones del software desarrollado, Gestión de base de datos relacionales como SQL server y no relacionales 
                como MongoDB, Desarrollo de software con paradigmas de programación orientada a  objetos, Marco de trabajo Scrum y Pruebas unitarias AAA. 

            </div>
        
            <div class="col-lg-5 col-sm-6 col-12 padding_col_job">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-2 text-right">
                        <a type="button" href="" target="_blank">
                            <i class="fa fa-briefcase logo_work"></i>
                        </a>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-8">
                        <h5>UNIVERSIDAD DEL QUINDÍO</h5>
                        <h4>Docente de matemáticas</h4>
                        <span>2020 - 2020</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-12 padding_col_content" style="text-align: justify;">
                Generar y fortalecer el pensamiento lógico matemático en los
                estudiantes dediferentes instituciones educativas de la ciudad de 
                Armenia y Calarcá, en el club de matemáticas de la universidad Del 
                Quindío            
            </div>
            <!--trabajo ***-->
            <div class="full-divider"></div>

        </div>
    </div>
</div>